:root {
    --main: #4A73A1;
    --main-light: #B6D0E2;
    --back: #1A1A1A;
    --text: #F5F5F5;
    --aux: #00674F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter Tight', sans-serif;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--back);
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(to bottom, #00000089, transparent);
    position: fixed;
    top: 0;
}

.nom h1 {
    font-size: 24px;
    color: var(--text);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--main-light);
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* --- A PROPOS --- */

.about {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;
}

.bio {
    text-align: left;
}

.bio p {
    line-height: 1.6;
    font-size: 18px;
}

.contact-icons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons a img {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

.contact-icons a img:hover {
    transform: scale(1.1);
}

/* --- PORTFOLIO --- */
.portfolio h2, .portfolio h3, .portfolio h4, .portfolio p {
    text-align: center;
    margin-bottom: 10px;
}

.portfolio h3 {
    margin-top: 20px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container iframe {
    margin-bottom: 10px;
}

/* --- CV --- */
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv img {
    max-width: 60%;
    height: auto;
}

.save {
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #53729f;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.save img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.save:hover {
    background-color: #e64c3c;
}

/* --- MOBILE --- */
@media (max-width: 768px) {
    header {
        padding: 20px 25px;
    }

    .about {
        flex-direction: column;
    }

    .bio {
        width: 95%;
        margin-top: 20px;
        text-align: center;
    }

    .bio p {
        font-size: 16px;
    }

    .about img {
        margin-right: 0;
        width: 50vw;
        height: auto;
    }

    .cv img {
        max-width: 90%;
        height: auto;
    }
    .video-container iframe {
        width: 98%;
    }
}